{% extends '::base.html.twig' %}

{% block body %}

    {% if app.user %}
      {% if app.user.userInfo %}
        <h2>Welcome {{ app.user.username|ucwords }}</h2>
      {% else %}
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>Complete User Info</h2>

          {{ form_start(form) }}

          {{ form_errors(form) }}

          {{ form_end(form) }}
        </div>
      {% endif %}
    {% else %}
      <h2>Join <a id="app-name" href="{{ path('fos_user_registration_register') }}">Do It</a></span></h2>
    {% endif %}


  <div class="col-md-3"></div>


{% endblock %}