{% extends 'base.html.twig' %}

{% block body %}

<h2>Notifications</h2>

  {% if invitations %}
    {% for invitation in invitations %}
      <div class="panel panel-primary copyright-wrap" id="copyright-wrap">
        <div class="panel-heading text-center"><span style="font-weight: bold">Invite from {{ invitation.group.name }}</span>
          <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert"> <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="panel-body text-center">
          {{ invitation.group.description }}
          <div class="button-group">
            <form action="{{ url('group_invitation_acceptance') }}" method="post">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
              <input type="hidden" name="_group" value="{{ invitation.group.id }}">
              <input type="hidden" name="_invitation" value="{{ invitation.id }}">
              <button class="btn btn-success" name="_accept">Accept</button>
              <button class="btn btn-danger" name="_refuse">Refuse</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/css/notification.css') }}">
{% endblock %}